services:
  web:
    build:
      target: test
    command: pytest
    volumes:
      - ./services/web:/app
    working_dir: /app
    environment:
      - MODE=test
      - DB_HOST=postgres
      - PYTHONPATH=.
    env_file:
      - .test.env
    depends_on:
      postgres:
        condition: service_started
