services:
  web:
    build:
      context: services/web
      dockerfile: Dockerfile
      target: prod
    environment:
      - TZ=Europe/Moscow
    ports:
      - "8100:8100"
    command: python3 start.py
    env_file:
      - .env
    depends_on:
      - postgres
#      logging:
#        driver: fluentd
#        options:
#          fluentd-address: 0.0.0.0:24224
#          fluentd-sub-second-precision: "true"
#          tag: web.logs
#        fluentd:

  auth:
    build:
      context: services/auth
      dockerfile: Dockerfile
      target: prod
    environment:
      - TZ=Europe/Moscow
    ports:
      - "8001:8001"
    command: python3 start.py
    env_file:
      - .env
    depends_on:
      - postgres
#    logging:
#      driver: fluentd
#      options:
#        fluentd-address: 0.0.0.0:24224
#        fluentd-sub-second-precision: "true"
#        tag: web.logs
#      fluentd:

  admin:
    build:
      context: services/admin
      dockerfile: Dockerfile
      target: prod
    environment:
      - TZ=Europe/Moscow
    ports:
      - "8002:8002"
    command: python3 start.py
    env_file:
      - .env
    depends_on:
      - postgres
#      logging:
#        driver: fluentd
#        options:
#          fluentd-address: 0.0.0.0:24224
#          fluentd-sub-second-precision: "true"
#          tag: web.logs
#        fluentd:

  postgres:
    image: postgres:16.3
    ports:
      - "5432:5432"
    environment:
      TZ: Europe/Moscow/
      PGDATA: /var/lib/postgresql/data/pgdata
    volumes:
      - ./infra/postgres/data:/var/lib/postgresql/data
      - ./infra/postgres/scripts:/var/lib/postgresql/scripts

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.17.1
    hostname: elasticsearch
    environment:
      - TZ=Europe/Moscow
      - discovery.type=single-node
      - xpack.security.enabled=false
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
    ports:
      - "9200:9200"
    volumes:
      - ./infra/elasticsearch/data:/usr/share/elasticsearch/data
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:9200/_cluster/health" ]
      interval: 10s
      retries: 5
      timeout: 5s

  kibana:
    image: docker.elastic.co/kibana/kibana:8.17.1
    ports:
      - "5601:5601"
    environment:
      - TZ=Europe/Moscow
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
    depends_on:
      elasticsearch:
        condition: service_healthy

  fluentd:
    build:
      context: infra/fluentd
      dockerfile: Dockerfile
    environment:
      - TZ=Europe/Moscow
    #    volumes:
    #      - ./infra/fluentd/fluentd.conf:/fluentd/etc/fluent.conf
    #      - ./infra/logs:/src/logs
    ports:
      - "24224:24224" # TCP input
      - "24224:24224/udp" # UDP input
    healthcheck:
      test: [ "CMD-SHELL", "nc -z 127.0.0.1 24224" ]
      interval: 5s
      timeout: 3s
      retries: 10
    depends_on:
      elasticsearch:
        condition: service_healthy
